# DATA101 FINAL PROJECT
# The US Accidents Dataset from Feb 2016 - Mar 2023
<a class="anchor" id="head"></a>
Submitted by: `Group 3`

Members:
1. Arceta, Althea Zyrie
2. Ducut, Ezekiel
3. Fausto, Lorane Bernadeth
4. Hidalgo, Francisco Jose


This notebook is used to explain and split the [US Traffic Accident Dataset](https://www.kaggle.com/datasets/sobhanmoosavi/us-accidents). The dataset will be explained and split by the end of this notebook.

| **`Table of Contents`** |
| --- |
| [The Dataset](#the-dataset) |
| [Reading the Dataset](#reading-the-dataset) |

## The Dataset

-- [Return to Table of Contents](#DATA101-FINAL-PROJECT) --


This comprehensive car accident dataset encompasses 49 states across the USA and spans from February 2016 to March 2023. The accident data, amounting to approximately 7.7 million records, were gathered through multiple APIs that stream traffic incident data. These APIs compile information from various sources, including the US and state departments of transportation, law enforcement agencies, traffic cameras, and road network sensors. In this analysis, we will specifically explore accident trends from 2020 to 2022.

## Importing Libraries
For this notebook [**pandas**](https://pandas.pydata.org/) must be imported.

In [1]:
import pandas as pd

## Reading the Dataset
-- [Return to Table of Contents](#DATA101-FINAL-PROJECT) --

Here we will load the dataset using pandas. This will load the dataset into a pandas `DataFrame`. We use the [`read_csv`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_csv.html) function to load the dataset. The path will have to be changed depending on the location of the file in your machine.

In [2]:
cases_df = pd.read_csv('../dataset/US_Accidents_March23.csv')

The dataset is now loaded in the `cases_df` variable. `cases_df` is a [`DataFrame`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.html). It is a data structure for storing tabular data, and the main data structure used in pandas.

We will cut the dataset to only those accidents from January 01 2020 to December 31 2022 since this exploratory analysis will only focused on the specified dates.

The first step is to Convert 'Start_Time' column to datetime to start extracting from 2020 to 2022.

In [85]:
cases_df['Start_Time'] = pd.to_datetime(cases_df['Start_Time'], errors='coerce')

Filter out rows where 'Start_Time' is NaT

In [86]:
cases_df = cases_df.dropna(subset=['Start_Time'])

Now we filter the dataset for accidents that occurred between 2020 and 2022

In [87]:
filtered_df = cases_df[(cases_df['Start_Time'] >= '2020-01-01') & (cases_df['Start_Time'] <= '2022-12-31')]

Displaying the shape of the filtered dataset

In [88]:
print(filtered_df.shape)

(3838879, 46)

Displaying the first few rows of the filtered dataset

In [89]:
print(filtered_df.head())

              ID   Source  Severity          Start_Time             End_Time  \
512217  A-512230  Source2         1 2022-09-08 05:49:30  2022-09-08 06:34:53
512218  A-512231  Source2         1 2022-09-08 02:02:05  2022-09-08 04:31:32
512219  A-512232  Source2         1 2022-09-08 05:14:12  2022-09-08 07:38:17
512220  A-512233  Source2         1 2022-09-08 06:22:57  2022-09-08 06:52:42
512221  A-512234  Source2         2 2022-09-08 06:36:20  2022-09-08 07:05:58

        Start_Lat   Start_Lng  End_Lat  End_Lng  Distance(mi)  ... Roundabout  \
512217  41.946796  -88.208092      NaN      NaN          0.00  ...      False
512218  34.521172 -117.958076      NaN      NaN          0.00  ...      False
512219  37.542839  -77.441780      NaN      NaN          0.00  ...      False
512220  40.896629  -81.178452      NaN      NaN          0.00  ...      False
512221  41.409359  -81.644318      NaN      NaN          1.91  ...      False

       Station   Stop Traffic_Calming Traffic_Signal Turning_Loop  \
512217   False  False           False           True        False
512218   False  False           False          False        False
512219   False  False           False           True        False
512220   False  False           False          False        False
512221   False  False           False          False        False

       Sunrise_Sunset Civil_Twilight Nautical_Twilight Astronomical_Twilight
512217          Night          Night               Day                   Day
512218          Night          Night             Night                 Night
512219          Night          Night             Night                 Night
512220          Night          Night               Day                   Day
512221          Night            Day               Day                   Day

[5 rows x 46 columns]

The dataset is now loaded in the `filtered_df` variable. `filtered_df` is a [`DataFrame`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.html). It is a data structure for storing tabular data, and the main data structure used in pandas.

The next cell show the contents of the `DataFrame`.

In [90]:
filtered_df

,ID,Source,Severity,Start_Time,End_Time,Start_Lat,Start_Lng,End_Lat,End_Lng,Distance(mi),...,Roundabout,Station,Stop,Traffic_Calming,Traffic_Signal,Turning_Loop,Sunrise_Sunset,Civil_Twilight,Nautical_Twilight,Astronomical_Twilight
512217,A-512230,Source2,1,2022-09-08 05:49:30,2022-09-08 06:34:53,41.946796,-88.208092,NaN,NaN,0.000,...,False,False,False,False,True,False,Night,Night,Day,Day
512218,A-512231,Source2,1,2022-09-08 02:02:05,2022-09-08 04:31:32,34.521172,-117.958076,NaN,NaN,0.000,...,False,False,False,False,False,False,Night,Night,Night,Night
512219,A-512232,Source2,1,2022-09-08 05:14:12,2022-09-08 07:38:17,37.542839,-77.441780,NaN,NaN,0.000,...,False,False,False,False,True,False,Night,Night,Night,Night
512220,A-512233,Source2,1,2022-09-08 06:22:57,2022-09-08 06:52:42,40.896629,-81.178452,NaN,NaN,0.000,...,False,False,False,False,False,False,Night,Night,Day,Day
512221,A-512234,Source2,2,2022-09-08 06:36:20,2022-09-08 07:05:58,41.409359,-81.644318,NaN,NaN,1.910,...,False,False,False,False,False,False,Night,Day,Day,Day
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7235934,A-7285297,Source1,2,2020-01-06 20:59:00,2020-01-06 21:32:38,34.265778,-118.454289,34.265778,-118.454289,0.000,...,False,False,False,False,False,False,Night,Night,Night,Night
7235935,A-7285298,Source1,2,2020-01-06 21:14:00,2020-01-06 23:16:38,35.736667,-119.742500,35.736667,-119.742500,0.000,...,False,False,False,False,False,False,Night,Night,Night,Night
7235936,A-7285299,Source1,2,2020-01-06 21:19:00,2020-01-06 22:19:37,34.075263,-118.281157,34.075263,-118.281157,0.000,...,False,False,True,True,False,False,Night,Night,Night,Night
7246305,A-7295668,Source1,2,2020-01-01 00:08:02,2020-01-01 00:37:03,42.315690,-83.085920,42.312500,-83.094120,0.473,...,False,False,False,False,False,False,Night,Night,Night,Night
7246341,A-7295704,Source1,4,2020-01-01 00:31:17,2020-01-01 00:59:51,38.840700,-76.942320,38.840730,-76.942230,0.005,...,False,False,False,False,True,False,Night,Night,Night,Night

Display the dataset info using the [`info`](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.info.html) function.

In [91]:
filtered_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3838879 entries, 512217 to 7246341
Data columns (total 46 columns):
 #   Column                 Dtype
---  ------                 -----
 0   ID                     object
 1   Source                 object
 2   Severity               int64
 3   Start_Time             datetime64[ns]
 4   End_Time               object
 5   Start_Lat              float64
 6   Start_Lng              float64
 7   End_Lat                float64
 8   End_Lng                float64
 9   Distance(mi)           float64
 10  Description            object
 11  Street                 object
 12  City                   object
 13  County                 object
 14  State                  object
 15  Zipcode                object
 16  Country                object
 17  Timezone               object
 18  Airport_Code           object
 19  Weather_Timestamp      object
 20  Temperature(F)         float64
 21  Wind_Chill(F)          float64
 22  Humidity(%)            float64
 23  Pressure(in)           float64
 24  Visibility(mi)         float64
 25  Wind_Direction         object
 26  Wind_Speed(mph)        float64
 27  Precipitation(in)      float64
 28  Weather_Condition      object
 29  Amenity                bool
 30  Bump                   bool
 31  Crossing               bool
 32  Give_Way               bool
 33  Junction               bool
 34  No_Exit                bool
 35  Railway                bool
 36  Roundabout             bool
 37  Station                bool
 38  Stop                   bool
 39  Traffic_Calming        bool
 40  Traffic_Signal         bool
 41  Turning_Loop           bool
 42  Sunrise_Sunset         object
 43  Civil_Twilight         object
 44  Nautical_Twilight      object
 45  Astronomical_Twilight  object
dtypes: bool(13), datetime64[ns](1), float64(12), int64(1), object(19)
memory usage: 1.0+ GB

Display all the columns in the dataset using the [`columns`](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.columns.html) function.

In [92]:
print(filtered_df.columns)

Index(['ID', 'Source', 'Severity', 'Start_Time', 'End_Time', 'Start_Lat',
       'Start_Lng', 'End_Lat', 'End_Lng', 'Distance(mi)', 'Description',
       'Street', 'City', 'County', 'State', 'Zipcode', 'Country', 'Timezone',
       'Airport_Code', 'Weather_Timestamp', 'Temperature(F)', 'Wind_Chill(F)',
       'Humidity(%)', 'Pressure(in)', 'Visibility(mi)', 'Wind_Direction',
       'Wind_Speed(mph)', 'Precipitation(in)', 'Weather_Condition', 'Amenity',
       'Bump', 'Crossing', 'Give_Way', 'Junction', 'No_Exit', 'Railway',
       'Roundabout', 'Station', 'Stop', 'Traffic_Calming', 'Traffic_Signal',
       'Turning_Loop', 'Sunrise_Sunset', 'Civil_Twilight', 'Nautical_Twilight',
       'Astronomical_Twilight'],
      dtype='object')

After initially exploring the dataset, it is time to export the new dataset and begin the cleaning process. We will use the [`to_csv`](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.to_csv.html) function for exporting.

In [ ]:
filtered_df.to_csv('../dataset/us_accidents_cut.csv', index=False)

Now, we will proceed to the `Clean_Dataset.ipynb` for the cleaning process and exploratory data analysis.